/* ------------------ GENERAL ------------------  */

* {
    font-family: 'calibri';
    text-align: center;
}

body {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.hidden {
    display: none;
}

/* ------------------ SCORE AND COUNTER ------------------  */

body > p {
    display: inline-block;
    margin: 2em;
    padding: 1em;
    border: 1px solid grey;
}

body > p:nth-child(2) {
    width: 100px;
}

body > p:nth-child(3) {
    width: 200px;
}

/* ------------------ DICES ------------------  */

.dice {
    display: inline-block;
    padding: 1em;
    margin: 1em;
    border: 1px solid grey;
    width: 150px;
    height: 200px;
    cursor: pointer;
}

.dice p {
    margin: 0 0 .5em 0;
}

.nr {
    display: inline-block;
    width: 75%;
    height: 75%;
    font-size: 5em;
}

.locked {
    background-color: lavender;
}

button, .button {
    background-color: lightgray;
    border: 1px solid grey;
    padding: 1em;
    margin: 2em;
    cursor: pointer;
    font-size: 1em;
}

.button {
    text-decoration: none;
    color: black;
}

/* ------------------ RESULT ------------------  */

#result {
    font-size: 2em;
}

.red {
    color: firebrick;
}

.green {
    color: forestgreen;
}

/* ------------------ HELP ------------------  */

#helpDiv {
    position: absolute;
    width: 40%;
    top: 250px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid grey;
    background-color: white;
    z-index: 10;
}

#helpDiv ol {
    width: 60%;
    margin: 2em auto;
}

#helpDiv p {
    text-align: left;
    margin-left: 25%;
    font-weight: bold;
}

#helpDiv button {
    margin-top: .5em;
}

.overlay {
    background-color: lightgray;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: .5;
}