/* ------------------ GENERAL ------------------  */

* {
    font-family: 'calibri';
    text-align: center;
}

body {
    width: 60%;
    margin: 0 auto;
    position: relative;
    background-color: #00a000;
}

h1 {
    color: #a51b00;
    font-weight: bold;
    font-size: 65px;
    text-shadow: 2px 2px #262626;
}

.hidden {
    display: none;
}

/* ------------------ SCORE AND COUNTER ------------------  */

body > p {
    display: inline-block;
    margin: 2em;
    padding: 1em;
    background-color: #edf35b;
    font-weight: bold;
    border-radius: 4px;
}

body > p:nth-child(2) {
    width: 100px;
}

body > p:nth-child(3) {
    width: 200px;
}

/* ------------------ DICES ------------------  */

.dice {
    display: inline-block;
    padding: 1em;
    margin: 1em;
    border: 1px solid grey;
    width: 150px;
    height: 200px;
    cursor: pointer;
    background-color: #ebebeb;
    color: #a51b00;
    font-weight: bold;
    border: 1px solid #a51b00;
    border-radius: 4px;
}

.dice p {
    margin: 0 0 .5em 0;
}

.nr {
    display: inline-block;
    width: 75%;
    height: 75%;
    font-size: 5em;
}

.locked {
    background-color: lavender;
}

button, .button {
    background-color: #a51b00;
    color: #ebebeb;
    border: 1px solid grey;
    padding: 1em;
    margin: 2em;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 2px 2px #262626;
    font-weight: bold;
}

.button {
    text-decoration: none;
    color: black;
    color: #ebebeb;
}

/* ------------------ RESULT ------------------  */

#result {
    font-size: 2em;
}

.red {
    color: #a51b00;
}

.green {
    color: #ebebeb;
}

/* ------------------ HELP ------------------  */

#helpDiv {
    background-color: white;
    border: 1px solid grey;
    position: absolute;
    width: 40%;
    top: 250px;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 20px grey;
    background-color: #ebebeb;
    border: 1px solid #a51b00;
    border-radius: 4px;
}

#helpDiv ol {
    width: 60%;
    margin: 2em auto;
}

#helpDiv p {
    text-align: left;
    margin-left: 25%;
    font-weight: bold;
}

#helpDiv button {
    margin-top: .5em;
}